{
  "env": {
    "browser" : true,
    "es6": true
  },
  "ecmaFeatures" : {
    "jsx": true,
    "objectLiteralShorthandMethods" : true,
    "modules": true,
    "experimentalObjectRestSpread": true
  },
  "rules": {
  }
}
